In [1]:
#%matplotlib inline
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
import pandas as pd
from statsmodels.sandbox.regression.predstd import wls_prediction_std
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import warnings
import scipy.stats as stats
warnings.filterwarnings('ignore')
plt.style.use('fivethirtyeight')
from sklearn import datasets, linear_model

In [2]:
df = pd.read_csv('Telco_Customer_Churn.csv')

In [3]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [4]:
column_desc = {'customerID':'Customer ID',
'gender':'Whether the customer is a male or a female',
'SeniorCitizen':'Whether the customer is a senior citizen or not (1, 0)',
'Partner':'Whether the customer has a partner or not (Yes, No)',
'Dependents':'Whether the customer has dependents or not (Yes, No)',
'tenure':'Number of months the customer has stayed with the company',
'PhoneService':'Whether the customer has a phone service or not (Yes, No)',
'MultipleLines':'Whether the customer has multiple lines or not (Yes, No, No phone service)',
'InternetService':'Customer’s internet service provider (DSL, Fiber optic, No)',
'OnlineSecurity':'Whether the customer has online security or not (Yes, No, No internet service)',
'OnlineBackup':'Whether the customer has online backup or not (Yes, No, No internet service)',
'DeviceProtection':'Whether the customer has device protection or not (Yes, No, No internet service)',
'TechSupport':'Whether the customer has tech support or not (Yes, No, No internet service)',
'StreamingTV':'Whether the customer has streaming TV or not (Yes, No, No internet service)',
'StreamingMovies':'Whether the customer has streaming movies or not (Yes, No, No internet service)',
'Contract':'The contract term of the customer (Month-to-month, One year, Two year)',
'PaperlessBilling':'Whether the customer has paperless billing or not (Yes, No)',
'PaymentMethod':'The customer’s payment method (Electronic check, Mailed check, Bank transfer (automatic), Credit card (automatic))',
'MonthlyCharges':'The amount charged to the customer monthly',
'TotalCharges':'The total amount charged to the customer',
'Churn':'Whether the customer churned or not (Yes or No)',}

In [5]:
column_info = pd.DataFrame.from_dict([column_desc])

In [6]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## Data Preprocessing

In [7]:
print ("Rows     : " ,df.shape[0])
print ("Columns  : " ,df.shape[1])
print ("\nFeatures : \n" ,df.columns.tolist())
print ("\nMissing values :  ", df.isnull().sum().values.sum())
print ("\nUnique values :  \n",df.nunique())

Rows     :  7043
Columns  :  21

Features :
 ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']

Missing values :   0

Unique values :
 customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

In [8]:
df.dtypes # check the data types in the data

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [9]:
# TotalCharges should be numerical

In [10]:
df.TotalCharges = pd.to_numeric(df.TotalCharges, errors='coerce')
df.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [ ]:
sm.imputation.mice.MICEData(df, perturbation_method='gaussian', k_pmm=20, history_callback=None)

In [ ]:
df.describe()

### Check Different Group for Class Imbalance

In [ ]:
Tran_df = df.copy()
Tran_df['SeniorCitizen'].replace({1 : 'Yes', 0 : 'No'}, inplace=True)

In [ ]:
def groups(group):
    num = []
    gname = []
    for name in list(Tran_df[group].unique()):
        num.append(len(name))
        gname.append(name)
    # Pie Chart
    group_unique = []
    plt.figure(figsize=(10, 8))
    plt.pie(num, labels=list(Tran_df[group].unique()), autopct="%1d%%")
    plt.axis('equal')
    plt.title('Data Set Based on {}'.format(group))
    plt.show()
    
    # Bar Chart
    ax = plt.subplot()
    plt.bar(range(len(num)), num, color = 'green')
    ax.set_xticks(range(0, len(num)))
    ax.set_xticklabels(gname)
    plt.title('Data Set Based on {}'.format(group))
    plt.xlabel('{}'.format(group))
    plt.ylabel('Count of {}'.format(group))
    plt.show()

In [ ]:
interact(groups, group=['gender', 'SeniorCitizen', 'Partner', 'Churn', 'Dependents']);

### Group by Senior Citizen and Check the number of Senior Citizen that are Female

In [ ]:
seniors = Tran_df.groupby('SeniorCitizen').get_group('Yes')

In [ ]:
senior_gender = seniors.groupby('gender')
Male_Senior_Citizen = senior_gender.get_group('Male')
Female_Senior_Citizen = senior_gender.get_group('Female')

### Explore Data about Senior Citizens

In [ ]:
def senior_groups(group):
    snum = []
    sname = []
    for name in list(seniors[group].unique()):
        snum.append(len(name))
        sname.append(name)
    # Pie Chart
    group_unique = []
    plt.figure(figsize=(10, 8))
    plt.pie(snum, labels=list(seniors[group].unique()), autopct="%1d%%")
    plt.axis('equal')
    plt.title('Data Set Based on {}'.format(group))
    plt.show()
    
    # Bar Chart
    ax = plt.subplot()
    plt.bar(range(len(snum)), snum, color = 'green')
    ax.set_xticks(range(0, len(snum)))
    ax.set_xticklabels(sname)
    plt.title('Data Set Based on {}'.format(group))
    plt.xlabel('{}'.format(group))
    plt.ylabel('Count of {}'.format(group))
    plt.show()

In [ ]:
interact(senior_groups, group=['gender', 'Partner', 'Churn', 'Dependents']);

In [ ]:
from pivottablejs import pivot_ui

In [ ]:
pivot_ui(df)